@model CodeFirstForum.ViewModels.CreateViewModel
@{
    ViewData["Title"] = "EditManual";
}
<h2>EditManual</h2>
<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail" style="height: 210px; width:210px">
                    <img id="photo" style="height: 200px; width: 200px" src="@Model.Manual.Photo">
                </div>
                <a href="#" id="upload_widget_opener">Add photo</a>
                <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
                <script src="~/js/photo.js" type="text/javascript"></script>
            </div>
            <div class="col-md-8">
                <form asp-action="EditManualHead" method="post">
                    <div class="form-group" hidden="hidden">
                        <input name="authorId" class="form-control" value="@Model.AuthorId" />
                        <input name="manualId" class="form-control" value="@Model.Manual.ManualId" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Title</label>
                        <input name="title" class="form-control" value="@Html.Raw(Model.Manual.Title)" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea name="descr" class="form-control" rows="10">@Html.Raw(Model.Manual.Description)"</textarea>
                    </div>
                    <div class="form-group" hidden="hidden">
                        <input name="photo" class="form-control" id="inPhoto" value="@Model.Manual.Photo" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" style="color:blue;"/>
                    </div>
                </form>
                <hr />
            </div>
        </div>
        @foreach (Step step in Model.Steps)
        {
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="EditStep">
                        <div class="form-group" hidden="hidden">
                            <input name="stepId" class="form-control" value="@step.StepId" />
                            <input name="authorId" class="form-control" value="@Model.AuthorId" />;
                        </div>
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input name="title" class="form-control" value="@Html.Raw(step.Title)" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Content</label>
                            <textarea name="content" class="form-control" rows="15">@Html.Raw(step.Content)</textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" style="color:blue;"/>
                        </div>
                    </form>
                </div>
                <hr />
            </div>

        }
    </div>
</div>
