@model CodeFirstForum.ViewModels.ManualViewModel
@using CF.Data;

@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext db
@{
    ViewData["Title"] = "Manual";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="thumbnail" style="height: 160px; width:160px">
                    <img id="photo" style="height: 150px; width: 150px" src="@Model.Manual.Photo">
                </div>
                <h5 style="color:deepskyblue;">@Model.Manual.ReleaseDate</h5>
            </div>
            <div class="col-md-10">
                <h2>@Html.Raw(@Model.Manual.Title)</h2>
                <a asp-controller="Home" asp-action="ShowCategoryManuals" asp-all-route-data='new Dictionary<string,string> {{"category", @Convert.ToInt32(Model.Manual.Category).ToString() }}'>
                    <h4>Category : @Html.DisplayFor(modelItem => Model.Manual.Category)</h4>
                </a>
                <hr />
                @foreach (string tag in Model.Tags)
                {
                    <button class="btn btn-info btn-sm">@tag</button>
                }
                <hr />
                <h5>@Html.Raw(@Model.Manual.Description)</h5>
            </div>
        </div>
        @foreach (Step step in Model.Steps)
        {
            <div class="row">
                <div class="col-md-0">
                </div>
                <div class="col-md-10">
                    <a asp-area="" asp-controller="Home" asp-action="Step" asp-route-id="@step.StepId" class="navbar-brand">
                        <h4 style="display: inline-block; margin-left:10px">@Html.Raw(@step.Title)</h4>
                    </a>
                </div>
            </div>
            <hr />
        }
    </div>
</div>
<div id="comments">
    <h3>Comments:</h3>
    @foreach (Comment comment in Model.Comments)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @{
                    ApplicationUser author = Model.Context.ApplicationUsers.Find(comment.AuthorId);
                }
                <div class="col-md-11">
                    @if (author != null)
                    {
                        <span class="glyphicon glyphicon-user"></span> @author.UserName
                    }
                    <hr />
                    <p>@Html.Raw(@comment.Content)</p>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                <div class="col-md-12">
                    <a asp-controller="Home" asp-action="LikeComment" asp-all-route-data='new Dictionary<string, string>
                       { { "userId", @Model.User.Id}, {"commentId", @comment.CommentId.ToString()} }' class="navbar-brand">
                        <span class="glyphicon glyphicon-heart">@comment.VoteCount</span>
                    </a>
                </div>
                }
            </div>
        </div>
    }
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-10">
                    <b id="userName"><span class="glyphicon glyphicon-user"></span>@Model.User.UserName</b>
                    <hr />
                    <form asp-controller="Home" asp-action="AddComment">
                        <textarea name="content" id="message" class="form-control" rows="6" value=""></textarea>
                        <div class="form-group" hidden="hidden">
                            <input name="userId" class="form-control" value="@Model.User.Id" />
                            <input name="manualId" class="form-control" value="@Model.Manual.ManualId" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-default" style="color:blue; margin-top:10px;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}